.error {
  color: var(--danger);
}

.sigCanvas {
  border : 1px solid #eee;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 10px 10px 10px 20px;
  display: block;
  touch-action: none;
  width: inherit;
  height: 256px;
}

.MuiFormControl-root-1 {
  width: 100%;
}

.MuiInputBase-input-28 {
  padding: 16px 0 7px !important;
}