.error {
  color: var(--danger);
}

.sigCanvas {
  border : 1px solid #eee;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.68);
  margin: 10px 10px 10px 20px;
  display: block;
  touch-action: none;
  width: inherit;
  height: 256px;
}

.MuiFormControl-root-1 {
  width: 100%;
}

.MuiInputBase-input-28 {
  padding: 16px 0 7px !important;
}