body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.col {
  margin-top: 1.25rem;
}

.form-control {
  border-radius: 0%;
  border-left: none;
  border-right: none;
  border-top: none;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid rgba(56, 39, 153, 0.78);
}

@keyframes floatdown {
  0% {
    position: absolute;
    top: -20;
  }
  100% {
    position: relative;
    top: 20;
  }
}

.crazy-label {
  animation: floatdown 1s ease-out;
}

.MuiFormControl-root-175 {
  width: 100%;
}

.far.fa-calendar.prefix {
  right: 0;
}

.md-form {
  margin-top: 0.25rem;
}

.md-form label {
  display: none;
}

#text {
  display: none;
}

.color-block-5 {
  padding: 1em;
  display: inline-block;
  transition: all 0.65s ease-out;
  height: 160px;
  width: 160px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.68);
}

.color-block-5:hover{
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.88);
}

@media only screen and (min-width: 600px) {
  .color-block-5 {
    height: 185px;
    width: 185px;
  }
}

@media only screen and (min-width: 800px) {
  .color-block-5 {
    height: 210px;
    width: 210px;
  }
}

@media only screen and (min-width: 1000px) {
  .color-block-5 {
    height: 250px;
    width: 250px;
  }
}

.cursor {
  cursor: pointer;
}

.mdb-wysiwyg-container {
  width: 100%;
  margin-left: 16px;
}


@media only screen and (min-width: 768px) {
  .mdb-wysiwyg-container {
    margin-left: 32px;
  }
}

.mdb-wysiwyg-toolbar {
  display: block !important;
}

.cke_chrome {
  width: 100%;
  margin-left: 32px !important;
  margin-top: 16px !important;
}

.cke_reset {
  width: 100% !important;
}

@media only screen and (min-width: 768px) {
  .mdb-wysiwyg-toolbar {
    display: flex !important;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(212, 237, 241) !important;
  opacity: 0.81 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(212, 237, 241);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(212, 237, 241);
}